/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}
/*can use the font specified in many different browsers*/
  
/* Base Styles -------------------- */
  
  * {
    box-sizing: border-box;
  }
  /*insured that the padding and margin's will be included in the elements 
  width and height??*/
  body {
   
    color: #878787;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  /*this part gives the font a size the same as the immediate parent, and specifies
  the line height as 1.5 of the default line height.*/

   h1,
  h2 {
    font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
  }
  /*the font we defined is now used for our heading h1 and h2*/
  /*h1 is child of the main-header, h2 is grand child of primary-content*/

  h1 {  
    font-size: 5.625rem; /* 90px/16px  */
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3; 
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin: 12px 0 0;
  }
 
  /*font-size is 5.625 times that of the root element/default*/
  /*line-height is the space between two texts that are on top of each other*/
  /*text-shadow:h v blur color; the 'a' in rgba is alpha, that specifies opacity
  0<alpha<1(fully opaque, fully transparent*/
  /*margin: 12px 0 0 0;*/

  h2 {
    font-size: 3.3125em; /* 53px/16px  */
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 .5em; /* 0 0 26px */
  }
/*here the margin is tricky... 0 top, 0 right, 0 left, .5em bottom(1/2 of the default
margin of it's immediate parent*/

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}
img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
/*here we can see that the images are responsive. That means, no matter what width
we are at, they will occupy a 100% of that width!
they are covered at their corners with radius 10px;*/

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/*the ul which is the container that holds all the li elements and ol which is similar
have margins margin:30px 0 30px 0; the outer box will move in such a way
the children, which are the li's will push the one in the bottom by 10px

  /* Pseudo-classes ------------------ */
  
  a:link {
    color: rgb(255, 169, 73);
    text-decoration: none;
  }
  /* any link in the page will have the specified color*/
  a:visited {
    color: lightblue;
  }
  /*visited links will turn light blue instead of the default color*/
  a:hover {
    color: rgba(255, 169, 73, .4);
  }
  /*when we hover our mouse over them, the show the color*/
  a:active {
    color: lightcoral;
  }
  /*the color the links turn to as soon as we press on them*/
  






